<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Quiz</h3>
    <form method ="post" action = "${pageContext.request.contextPath}/question/submit">
    <ol type="1">
      <c:forEach var="question" items="${questions}">
        <li>
          ${question.content}
          <input type = "hidden" name = "questionId" value ="${question.id}">
          <ol type="a">
            <c:forEach var="answer" items="${question.answers}">
              <li>
                <input type ="radio" name ="question_${question.id}"> value="${answer.id}">
                ${answer.content}
              </li>
            </c:forEach>
          </ol>
          <br>
          <input type = "submit" value="Submit">
        </li>
      </c:forEach>
    </ol>
  </form>
  </body>
</html>
